//- employer.jade
extends ./layout.jade

block row-content
  div.row
    div.col-md-12
      h2 Company Ideals
        h3 Please enter weight (from 1 to 5) for each behavioral characteristics that your company
          p
          div.col-md-12
          form
            div.form-group
              label(for="big1") Openness
                input.form-control(type="openness", id="openness", placeholder"Enter weight")
            div.form-group
              label(for="big1") Adventurousness
                input.form-control(type="openness", id="Adventurousness", placeholder"Enter weight")
            div.form-group
              label(for="big1") Artistic interests
                input.form-control(type="openness", id="Artistic interests", placeholder"Enter weight") 
            div.form-group
              label(for="big1") Emotionality
                input.form-control(type="openness", id="Emotionality", placeholder"Enter weight") 
            div.form-group
              label(for="big1") Imagination
                input.form-control(type="openness", id="Imagination", placeholder"Enter weight")
            div.form-group
              label(for="big1") Intellect
                input.form-control(type="openness", id="Intellect", placeholder"Enter weight") 
            div.form-group
              label(for="big1") Authority-challenging
                input.form-control(type="openness", id="Authority-challenging", placeholder"Enter weight") 
            div.form-group
              label(for="big2") Conscientiousness
                input.form-control(type="Conscientiousness", id="Conscientiousness", placeholder"Enter weight")
            div.form-group
              label(for="big2") Achievement striving
                input.form-control(type="Conscientiousness", id="Achievement striving", placeholder"Enter weight") 
            div.form-group
              label(for="big2") Cautiousness
                input.form-control(type="Conscientiousness", id="Cautiousness", placeholder"Enter weight") 
            div.form-group
              label(for="big2") Dutifulness
                input.form-control(type="Conscientiousness", id="Dutifulness", placeholder"Enter weight") 
            div.form-group
              label(for="big2") Orderliness
                input.form-control(type="Conscientiousness", id="Orderliness", placeholder"Enter weight") 
            div.form-group
              label(for="big2") Self-discipline
                input.form-control(type="Conscientiousness", id="Self-discipline", placeholder"Enter weight") 
            div.form-group
              label(for="big2") Self-efficacy
                input.form-control(type="Conscientiousness", id="Self-efficacy", placeholder"Enter weight") 
            div.form-group
              label(for="big3") Extraversion
                input.form-control(type="Extraversion", id="Extraversion", placeholder"Enter weight")
            div.form-group
              label(for="big3") Activity level
                input.form-control(type="Extraversion", id="Activity level", placeholder"Enter weight") 
            div.form-group
              label(for="big3") Assertiveness
                input.form-control(type="Extraversion", id="Assertiveness", placeholder"Enter weight") 
            div.form-group
              label(for="big3") Cheerfulness
                input.form-control(type="Extraversion", id="Cheerfulness", placeholder"Enter weight") 
            div.form-group
              label(for="big3") Excitement-seeking
                input.form-control(type="Extraversion", id="Excitement-seeking", placeholder"Enter weight")
            div.form-group
              label(for="big3") Outgoing
                input.form-control(type="Extraversion", id="Outgoing", placeholder"Enter weight")
            div.form-group
              label(for="big3") Gregariousness
                input.form-control(type="Extraversion", id="Gregariousness", placeholder"Enter weight")
            div.form-group
              label(for="big4") Agreeableness
                input.form-control(type="Agreeableness", id="Agreeableness", placeholder"Enter weight")
            div.form-group
              label(for="big4") Altruism
                input.form-control(type="Agreeableness", id="Altruism", placeholder"Enter weight") 
            div.form-group
              label(for="big4") Cooperation
                input.form-control(type="Agreeableness", id="Cooperation", placeholder"Enter weight") 
            div.form-group
              label(for="big4") Modesty
                input.form-control(type="Agreeableness", id="Modesty", placeholder"Enter weight") 
            div.form-group
              label(for="big4") Uncompromising
                input.form-control(type="Agreeableness", id="Uncompromising", placeholder"Enter weight") 
            div.form-group
              label(for="big4") Sympathy
                input.form-control(type="Agreeableness", id="Sympathy", placeholder"Enter weight") 
            div.form-group
              label(for="big4") Trust
                input.form-control(type="Agreeableness", id="Trust", placeholder"Enter weight") 
            button(class='btn btn-default') Submit
