//- index.jade
extends ./layout.jade

block row-content
  div.row
    div.col-md-6
        p
          a.btn.btn-primary(href='/register' role='button') Get Started
        p
          a.btn.btn-primary(href='/signin' role='button') Signin
