//- index.jade
extends ./layout.jade

block row-content
  div.row
    h2 Please enter your login credentials
    p #{error}
    form(action='login', method='post')
      p Email
      input(type='text', name='email')
      p Password
      input(type='password', name='password')
      br
      input(type='radio', name='account_type', value='employer', required)
      |  Employer
      br
      input(type='radio', name='account_type', value='applicant', required)
      |  Applicant
      br
      button.btn(type='submit') Signin